bdict
breeze_connect==1.0.64
certifi==2025.8.3
charset-normalizer==3.4.3
h11==0.16.0
idna==3.10
logging==0.4.9.6
numpy==2.3.2
pandas==2.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-engineio==4.12.2
python-socketio==5.13.0
pytz==2025.2
requests==2.32.5
setuptools==80.9.0
simple-websocket==1.1.0
six==1.17.0
TA-Lib
tzdata==2025.2
urllib3==2.5.0
websocket-client==1.8.0
wsproto==1.2.0
